<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>接口列表</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/json2.js"></script>
<script type="text/javascript" src="/static/js/interapp.js"></script>
</head>
<body>
	<div class="tb-div">
		<div class="execute-div">
			<div class="div-img">
				<img alt="运行" id="execute" src="/static/images/run.png" title="执行">
			</div>
		</div>
		<fieldset>
		    <legend>服务器列表</legend>
		    	<div class="btn-div">
		    		<img src="/static/images/add.png" onclick="" class="img-btn" title="新增">
		    	</div>
				<table class="tb-servers">
					<tr>
						<th><input type="checkbox" title="全选" id="selectserver" name="selectserver"></th>
						<th>服务器</th>
						<th>操作</th>
					</tr>
					{% for server in servers %}
					<tr>
						<td><input type="checkbox" value="{{server.id}}"  name="serverid"></td>
						<td>{{server.name}}</td>
						<td>
							<img src="/static/images/pencil.png" onclick="" class="img-btn" title="编辑">
							<img src="/static/images/remove.png" onclick="" class="img-btn" title="删除">
						</td>
					</tr>
					{% endfor %}
				</table>
		</fieldset>
		<fieldset>
		    <legend>接口列表</legend>
		    	<div class="btn-div">
			    	<img src="/static/images/add.png" onclick="" class="img-btn" title="新增">
				</div>
				<table class="tb-inters">
					<tr>
						<th><input type="checkbox" title="全选" id="selectinter" name="selectinter"></th>
						<th>服务</th>
						<th>路径</th>
						<th>请求方式</th>
						<th>参数格式</th>
						<th>请求参数格式</th>
						<th>预期响应格式</th>
						<th>操作</th>
					</tr>
					{% for inter in inters %}
						<tr>
							<td><input type="checkbox" value="{{inter.id}}"  name="interid"></td>
							<td>{{inter.service}}</td>
							<td>{{inter.path}}</td>
							<td>{{inter.method}}</td>
							<td>{{inter.enc}}</td>
							<td>{{inter.input}}</td>
							<td>{{inter.output}}</td>
							<td>
								<img src="/static/images/pencil.png" onclick="" class="img-btn" title="编辑">
								<img src="/static/images/remove.png" onclick="" class="img-btn" title="删除">
							</td>
						</tr>
					{% endfor %}
				</table>
		</fieldset>
	</div>
</body>
</html>