@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
}
input[type=button]{
	border:0 none;
	border:1px solid rgb(200,200,200);
	font-size:15px;
	padding:4px 10px;
	background-color: #abcdef;
	border-radius:5px;
	font-family: 微软雅黑;
}
input[type=button]:hover{
	border-color:rgb(150,150,220);
}
input[type=text],textarea{
	font-size:18px;
	
}
input[type='text']{
	width:400px;
	height:30px;
}
textarea{
	width:400px;
	height:100px;
}
select{
	width:400px;
	height:30px;
	font-size:15px;
}

a{
	text-decoration: none;
	color:#333;
}
.body{
	width:1700px;
	margin:0 auto;
}
.top-div{
	width:1700px;
	height:75px;
	margin:0 auto;
	border-bottom:1px solid #abc;
}
.top-frame{
	width:1700px;
	height:75px;
	scrolling:0;
	border:0;
}

.left-div{
	width:150px;
	height:700px;
	display:inline-block;
	border-right:1px solid #abc;
}
.left-frame{
	width:150px;
	height:700px;
	scrolling:no;
	border:0 none;
	
}
.right-div{
	width:1540px;
	height:700px;
	display:inline-block;
	
}
.right-frame{
	width:1540px;
	height:700px;
	scrolling:no;
	border:0 none;
}
.tb-div{
	width:1540px;
	margin:20px auto;
	/* text-align:center; */
}
.save-div{
	width:1000px;
	margin:20px auto;
}
table{
	border:1px solid #888;
	border-collapse: collapse;
	margin:10px 0;
}
th,td{
	border:1px solid #888;
	padding:3px 3px;
}
td{
	text-align:left;
	vertical-align: middle;
	/* word-break: break-all;  */
	word-wrap:break-word;
	font-family:Courier New;
}
.tb-servers td{
	padding:6px 10px;
}
.tb-inters{
	/* table-layout: fixed; */
	width:1530px;
}
fieldset{
	width:1540px;
	border:1px solid #efefef; 
	border-radius:25px;
	margin:20px auto;
	padding:20px 10px;
}
.save-div fieldset{
	width:800px;
}
legend{
	color:#e77713;
	font-family:隶书;
	font-size:20px;
}
.left-menu h3{
	margin-top:50px;
	text-align:center;
}
.left-menu h3 a{
	font-family:微软雅黑;
	text-decoration: none;
}
.left-menu h3:hover{
	font-size:20px;
	background-color: #A0CFE2;
}
.execute-div{
	text-algn:center;
}
.btn-div{
	width:500px;
}
.div-img{
	width:30px;
	height:30px;
	margin:0 auto;
}
.div-img img{
	width:30px;
	height:25px;
}
.div-img img:hover{
	border:1px dotted #888;
}
.div-img img:active{
	border:2px solid #999;
}
.tb-save{
	border:0 none;
	margin:20px auto;
}
.tb-save td{
	border:0 none;
	padding:10px;
}
td.td-right{
	text-align:right;
}
td.td-btn{
	text-align:center;
}
td.msg{
	width:100px;
}
.batchdel-btn,.del-btn{
	background-color: rgba(250,0,0,0.9) ! important;
	color:white;
}
#execute{
	background-color: green ;
	color:white;
	font-weight: bold;
}